<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tokyo West</title>

    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
    
    <meta property="og:title" content="Tokyo West">
    <meta property="og:site_name" content="Tokyo West">
    <meta property="og:url" content="">
    <meta property="og:description" content="International School">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en-GB"/>
    <meta property="og:image" content="#"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="Tokyo West">
    <meta name="twitter:description" content="International School">
    <meta name="twitter:image:src" content="#">
    <meta name="twitter:site" content="#">
    <meta name="twitter:creator" content="#">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Prefetch DNS for external assets -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
  </head>

  <body class="<%= bodyclass %> <%= template %> preload">
    <div class="page">
      <header class="site-header">
        <h1 class="site-title">
          <a href="/">
            <img src="/assets/images/logo.png" />
          </a>
        </h1>
        <nav class="main-nav" id="main-nav">
          <div class="main-nav__page">
            <div class="main-nav__wrap">
              <%- partial("_nav") %>
            </div>
          </div>
        </nav>
      </header>

      <%- yield %>

      <footer class="site-footer">
        Tokyo West
      </footer>
    </div>

    <script src="/assets/javascripts/application.js" async defer></script>
  </body>

</html>
