<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tokyo West International School</title>

    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <% if(bodyclass == "home") { %>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <% } %>

    <link rel="stylesheet" href="/assets/stylesheets/application.css">
    
    <meta property="og:title" content="Tokyo West International School">
    <meta property="og:site_name" content="Tokyo West">
    <meta property="og:url" content="">
    <meta property="og:description" content="International School">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en-GB"/>
    <meta property="og:image" content="#"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="Tokyo West">
    <meta name="twitter:description" content="International School">
    <meta name="twitter:image:src" content="#">
    <meta name="twitter:site" content="#">
    <meta name="twitter:creator" content="#">

    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <!-- Prefetch DNS for external assets -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
  </head>

  <body class="<%= bodyclass %> <%= template %>">
    <div class="page">
      <header class="site-header">
        <div class="site-title">
          <a href="/">
            <img src="/assets/images/logo.png" />
          </a>
        </div>
        <nav class="main-nav" id="main-nav">
          <div class="hamburger"><span></span></div>
          <div class="main-nav__page">
            <div class="main-nav__wrap">
              <%- partial("_nav") %>
            </div>
          </div>
        </nav>
      </header>

      <%- yield %>

      <footer class="site-footer container-fluid">
        <%- partial("_footer") %>  
      </footer>

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/assets/javascripts/application.js"></script>

    <!-- i18n libraries -->
    <script src="/assets/javascripts/lib/CLDRPluralRuleParser/CLDRPluralRuleParser.js"></script>
    <script src="/assets/javascripts/lib/i18n/jquery.i18n.js"></script>
    <script src="/assets/javascripts/lib/i18n/jquery.i18n.messagestore.js"></script>
    <script src="/assets/javascripts/lib/i18n/jquery.i18n.fallbacks.js"></script>
    <script src="/assets/javascripts/lib/i18n/jquery.i18n.language.js"></script>
    <script src="/assets/javascripts/lib/i18n/jquery.i18n.parser.js"></script>
    <script src="/assets/javascripts/lib/i18n/jquery.i18n.emitter.js"></script>
    <script src="/assets/javascripts/lib/i18n/jquery.i18n.emitter.bidi.js"></script>
    <script src="/assets/javascripts/lib/history/history.js"></script>
    <script src="/assets/javascripts/lib/url/url.min.js"></script>
    <script src="/assets/javascripts/i18n.js" async defer></script>

    <% if(bodyclass == "home") { %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <script>
      
      $('.multiple-items').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 3000,
        speed: 1000,
        arrows: true,
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });

      </script>
    <% } %>

    <% if(bodyclass == "facility-gallery" || bodyclass == "school-gallery") { %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
      <script>
        $.fancybox.defaults.animationEffect = "fade";
        $.fancybox.defaults.transitionEffect = "fade";
        $.fancybox.defaults.infobar = false;
        $.fancybox.defaults.toolbar = false;
        $.fancybox.defaults.maxWidth = '100%';
      </script>
    <% } %>

    <% if(bodyclass == "contact") { %>
    <script>

    $('form .btn').prop('disabled', true);
    $('input[type="text"]').keyup(function() {
      if($(this).val() != '' && $('input[type="number"]').val() != '') {
        $('form .btn').prop('disabled', false);
      } 
    });
    
    $("form").submit(function(e){
        return false;
    });

    function sendMessage(){
      let form = new FormData();
      form.append("name", $('input[name="first_name"]').val() );
      form.append("email", $('input[name="email"]').val() );
      form.append("subject", $('input[name="subject"]').val() );
      form.append("message",  
        $('input[name="first_name"]').val() + '\n' +
        $('input[name="surname"]').val() + '\n' +
        $('input[name="email"]').val() + '\n' +
        $('input[name="number"]').val() + '\n' +
        $('input[name="inquiry"]').val()
      );

      fetch('https://www.gsacademy.com/api/v1/contact/mail?source=TWIS', {
        method: 'post',
        body: form
      })
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        if(data.toString().length > 1){
          console.log(data)
          $('form .btn').prop('disabled', true);
          $('form .btn').html('<img src="/assets/images/tick.svg"/> Message Sent').css('background', '#08b90c')
        }
      })
      .catch((error) => {
        if(error.toString().length > 1){
          console.log('error')
          $('form .btn').html('Error, please refresh the page').css('background', 'crimson')
        }
      })
    }
    </script>
    <% } %>

  </body>

</html>
