<div class="book svg--red">
	<svg class="icon icon-menu-dims"><use xlink:href="#menu"></use></svg>
</div>

<a href="/articles/are-you-ready-for-a-longer-life">Are you ready for a longer life?<span class="time"><%- homeOneTime %> Mins</span></a>
<a href="/articles/are-your-finances-ready-for-a-longer-life">Are your finances ready for a longer life?<span class="time"><%- homeTwoTime %> Mins</span></a>
<a href="/articles/when-can-i-retire">When can I retire?<span class="time"><%- homeThreeTime %> Mins</span></a>
<a href="/articles/five-things-that-get-better-with-age">Five things that get better with age<span class="time"><%- homeFourTime %> Mins</span></a>
<a href="/articles/rewarding-work">Rewarding work<span class="time"><%- homeFiveTime %> Mins</span></a>
<a href="/articles/ten-new-ideas-about-to-change-your-life">10 new ideas about to change your life<span class="time"><%- homeSixTime %> Mins</span></a>
<a href="/articles/ten-money-making-hobbies">10 money-making hobbies<span class="time"><%- homeSevenTime %> Mins</span></a>
<a href="/articles/the-retirement-of-the-future">The retirement of the future<span class="time"><%- homeEightTime %> Mins</span></a>
<a href="/articles/fit-for-life">Fit for life<span class="time"><%- homeNineTime %> Mins</span></a>
<a href="/articles/fit-through-the-ages">Fit through the ages<span class="time"><%- homeTwelveTime %> Mins</span></a>
<a href="/articles/five-ways-to-save-more-each-month">Five ways to save more each month<span class="time"><%- homeElevenTime %> Mins</span></a>
<a href="/articles/five-brands-battle-it-out">Five brands battle it out<span class="time"><%- homeTenTime %> Mins</span></a>
<a href="/articles/meet-the-new-friendship-groups">Meet the new friendship groups<span class="time"><%- homeThirteenTime %> Mins</span></a>
<a href="/articles/ten-benefits-from-multigenerational-friendships">10 benefits from multigenerational friendships<span class="time"><%- homeFourteenTime %> Mins</span></a>
<a href="/articles/a-rough-guide-to-workplace-savings">A rough guide to workplace savings<span class="time"><%- homeFifteenTime %> Mins</span></a>