<div class="hero heading--white text--white svg--white" style="background-image: url('/assets/images/<%- bodyclass %>/hero.jpg');">
  <img src="/assets/images/home/animated_candle1.png" />
  <div class="hero__content">
    <h1><%= heroTitle %></h1>
    <p><%= heroDesc %></p>
    <p><%= date %></p>
  </div>
</div>

<div class="content-wrapper">

  <div class="feature row" id="ready">
    <video autoplay loop id="home-1">
      <source src="/assets/videos/aspire-landing-video-1.webm" type="video/webm"></source>
      <source src="/assets/videos/aspire-landing-video-1.mp4" type="video/mp4"></source>
    </video>
    
    <a class="text background--dark-blue text--white heading--white svg--blue" href="/articles/are-you-ready-for-a-longer-life">
      
      <p class="read-time text--blue svg--blue">
        <svg class="icon icon-read-time-ring-dims">
          <use xlink:href="#read-time-ring"></use>
        </svg>
        <span data-figure="<%- homeOneTime %>" data-speed="1000">0</span>
        <span>mins</span>
      </p>

      <div class="text-wrap">
      	<p class="mobile-only mobile-read text--blue"><%- homeOneTime %> Mins</p>
        <h2><%- homeOneTitle %></h2>
        <p><%- homeOneDesc %></p>
        <span class="read-more link--blue"> 
          <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
          <span>Read</span>
      	</span>
      </div>
    </a>
  </div>


  <div class="feature longer row heading--orange" id="longer">
  	<h2 class="medium-up"><%- homeTwoTitle %></h2>
  	
    <video autoplay loop id="home-2">
      <source src="/assets/videos/aspire-landing-video-2.webm" type="video/webm"></source>
      <source src="/assets/videos/aspire-landing-video-2.mp4" type="video/mp4"></source>
    </video>

    <p class="read-time svg--darker-grey text--darker-grey">
      <svg class="icon icon-read-time-ring-dims">
        <use xlink:href="#read-time-ring"></use>
      </svg>
      <span data-figure="<%- homeTwoTime %>" data-speed="1000">0</span>
      <span>mins</span>
    </p>

    <a href="/articles/are-your-finances-ready-for-a-longer-life" class="text background--opacity--dark-orange text--white heading--white svg--yellow" >
      <div class="text-wrap">
        <p class="mobile-only mobile-read text--orange"><%- homeTwoTime %> Mins</p>
      	<h2 class="mobile-only"><%- homeTwoTitle %></h2>
        <p><%- homeTwoDesc %></p>
        <div class="read-more link--yellow svg--yellow"> 
          <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
          <span>Read</span>
      	</div>
      </div>
    </a>

  </div>


  <div class="feature row" id="choices">
    
    <a class="text background--red text--white heading--white svg--white" href="/articles/a-few-good-choices">
     
      <p class="read-time text--white svg--white">
        <svg class="icon icon-read-time-ring-dims">
          <use xlink:href="#read-time-ring"></use>
        </svg>
        <span data-figure="<%- homeVideoTime %>" data-speed="1000">0</span>
        <span>mins</span>
      </p>

      <div class="text-wrap">
        <p class="mobile-only mobile-read text--blue"><%- homeVideoTime %> Mins</p>
        <h2><%- homeVideoTitle %></h2>
        <p><%- homeVideoDesc %></p>
        <span class="read-more"> 
          <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
          <span>Read</span>
        </span>
      </div>
    </a>

    <video autoplay loop id="home-video">
      <source src="/assets/videos/aspire-landing-video-1.webm" type="video/webm"></source>
      <source src="/assets/videos/aspire-landing-video-1.mp4" type="video/mp4"></source>
    </video>
    
  </div>

  <a href="/articles/when-can-i-retire" class="pull-full row background--lighter-grey" id="retire">
    <div class="inner heading--red svg--dark-red text--dark-red">

      <p class="read-time svg--darker-grey text--darker-grey">
        <svg class="icon icon-read-time-ring-dims">
          <use xlink:href="#read-time-ring"></use>
        </svg>
        <span data-figure="<%- homeThreeTime %>" data-speed="1000">0</span>
        <span>mins</span>
      </p>

      <p class="mobile-only mobile-read text--darker-grey"><%- homeThreeTime %> Mins</p>
      <h2><%- homeThreeTitle %></h2>
      <p><%- homeThreeDesc %></p>
      <div class="read-more"> 
        <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
          <span>Read</span>
      </div>
    </div>
    <div id="icon-animated-people" class="bodymovin" data-bm-type="svg" data-animation-path="/assets/javascripts/animations/icon-animated-people-yellow.json"></div>
  </a>

  <div class="offset-blocks row" id="better">
    <div class="block background--yellow svg--orange heading--dark-orange top-push">
    	<div class="big-five svg--mustard">
    	  <svg class="icon icon-num-5-dims"> <use xlink:href="#num-5"></use> </svg>
    	</div>
    	<a href="/articles/five-things-that-get-better-with-age">
    
      <p class="read-time svg--white text--white">
        <svg class="icon icon-read-time-ring-dims">
          <use xlink:href="#read-time-ring"></use>
        </svg>
        <span data-figure="<%- homeFourTime %>" data-speed="1000">0</span>
        <span>mins</span>
      </p>
	    	<p class="mobile-only mobile-read text--white"><%- homeFourTime %> Mins</p>
	    	<h2><%- homeFourTitle %></h2>
	    	<div class="read-more svg--dark-orange text--dark-orange">
	    		<svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg><span>Read</span>
	      	</div>
      	</a>
    </div>
    <div class="block heading--white text--white" style="background-image: url('/assets/images/<%- bodyclass %>/rewarding-work.jpg')">
    	<a class="text--white" href="/articles/rewarding-work">
        <p class="read-time text--white svg--white">
          <svg class="icon icon-read-time-ring-dims">
            <use xlink:href="#read-time-ring"></use>
          </svg>
          <span data-figure="<%- homeFiveTime %>" data-speed="1000">0</span>
          <span>mins</span>
        </p>

        <p class="mobile-only mobile-read text--white"><%- homeFiveTime %> Mins</p>
	    	<h2><%- homeFiveTitle %></h2>
	    	<p><%- homeFiveDesc %></p>
	    	<div class="read-more svg--green text--green">
	    		<svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
	      	</div>
      	</a>
    </div>
  </div>

  <div class="offset-blocks list row" id="new-ideas">
	  <div class="list-item list-item--photo heading--white">
      <video autoplay loop id="home-3">
        <source src="/assets/videos/aspire-landing-video-3.webm" type="video/webm"></source>
        <source src="/assets/videos/aspire-landing-video-3.mp4" type="video/mp4"></source>
      </video>
		    <div class="text background--blue text--white link--white heading--dark-blue">
		      <a href="/articles/ten-new-ideas-about-to-change-your-life">
          <p class="read-time svg--white text--white">
            <svg class="icon icon-read-time-ring-dims">
              <use xlink:href="#read-time-ring"></use>
            </svg>
            <span data-figure="<%- homeSixTime %>" data-speed="1000">0</span>
            <span>mins</span>
          </p>
		      <p class="mobile-only mobile-read text--white"><%- homeSixTime %> Mins</p>
		      <h2><%- homeSixTitle %></h2>
		      <p><%- homeSixDesc %></p>
		      <div class="read-more svg--yellow text--yellow">
		      	<svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
		      </div>
		      </a> 	
		    </div>
	  </div>

	  <div class="list-item list-item--photo">
      <video autoplay loop id="home-4">
        <source src="/assets/videos/aspire-landing-video-4.webm" type="video/webm"></source>
        <source src="/assets/videos/aspire-landing-video-4.mp4" type="video/mp4"></source>
      </video>	    
		    <div class="text background--green text--dark-green heading--dark-green">
		    <a href="/articles/ten-money-making-hobbies">
        
          <p class="read-time svg--white text--white">
            <svg class="icon icon-read-time-ring-dims">
              <use xlink:href="#read-time-ring"></use>
            </svg>
            <span data-figure="<%- homeSevenTime %>" data-speed="1000">0</span>
            <span>mins</span>
          </p>

		      <p class="mobile-only mobile-read text--white"><%- homeSevenTime %> Mins</p>
		      <h2><%- homeSevenTitle %></h2>
		      <p><%- homeSevenDesc %></p>
		      <div class="read-more svg--white text--white">
			      <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
		      </div>
		      </a>
		    </div>
		
	  </div>
  </div>

  <div class="pull-full row background--lighter-grey" id="future">
	<a href="/articles/the-retirement-of-the-future">
    <div class="inner heading--red svg--dark-red text--dark-red">
	    <p class="mobile-only mobile-read text--darker-grey"><%- homeEightTime %> Mins</p>
      <h2><%- homeEightTitle %></h2>
      <p><%- homeEightDesc %></p>
	      <div class="svg--dark-red read-more"> 
	        <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
	          <span>Read</span>
	      </div>
	    </div>
      <p class="read-time svg--darker-grey text--darker-grey">
        <svg class="icon icon-read-time-ring-dims">
          <use xlink:href="#read-time-ring"></use>
        </svg>
        <span data-figure="<%- homeEightTime %>" data-speed="1000">0</span>
        <span>mins</span>
      </p>
	    <div class="svg--orange svg-wrap">
	    	<div id="icon-animated-rocket" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-rocket.json"></div>
	    </div>
	 </a>
  </div>

  <div class="offset-blocks row" id="fit">
    <div class="block background--red svg--mustard heading--white text--white">
      <div class="big-five">
        <svg class="icon icon-alarm-clock-dims">
          <use xlink:href="#alarm-clock"></use>
        </svg>
      </div>
    	<a href="/articles/fit-for-life">
      	  <p class="read-time text--white svg--white">
            <svg class="icon icon-read-time-ring-dims">
              <use xlink:href="#read-time-ring"></use>
            </svg>
            <span data-figure="<%- homeNineTime %>" data-speed="1000">0</span>
            <span>mins</span>
          </p>
      	<p class="mobile-only mobile-read text--white"><%- homeNineTime %> Mins</p>
      	<h2><%- homeNineTitle %></h2>
      	<p><%- homeNineDesc %></p>
      	<div class="svg--yellow text--yellow read-more">
      		<svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
        	</div>
  	</a>
    </div>

    <div class="block background--green svg--yellow heading--dark-green top-push">
      <div class="big-five">
        <svg class="icon icon-num-5-dims"> <use xlink:href="#num-5"></use> </svg>
      </div>
      <a href="/articles/five-brands-battle-it-out">
        <p class="read-time svg--white text--white">
          <svg class="icon icon-read-time-ring-dims">
            <use xlink:href="#read-time-ring"></use>
          </svg>
          <span data-figure="<%- homeTenTime %>" data-speed="1000">0</span>
          <span>mins</span>
        </p>
          <p class="mobile-only mobile-read text--white"><%- homeTenTime %> Mins</p>
          <h2><%- homeTenTitle %></h2>
          <div class="svg--dark-green text--dark-green read-more">
            <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
            </div>
        </a>
    </div>

  </div>

  <div class="offset-blocks row" id="save-more">
  	<div class="block background--lighter-grey heading--red top-push">
  		<div class="big-five svg--beige-grey">
  		  <svg class="icon icon-num-5-dims"> <use xlink:href="#num-5"></use> </svg>
  		</div>
  		<a href="/articles/five-ways-to-save-more-each-month">
  
        <p class="read-time svg--light-grey text--light-grey">
          <svg class="icon icon-read-time-ring-dims">
            <use xlink:href="#read-time-ring"></use>
          </svg>
          <span data-figure="<%- homeElevenTime %>" data-speed="1000">0</span>
          <span>mins</span>
        </p>

  	    	<p class="mobile-only mobile-read text--darker-grey"><%- homeElevenTime %> Mins</p>
  	    	<h2><%- homeElevenTitle %></h2>
  	    	<div class="svg--red text--red read-more">
  	    		<svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
  	      	</div>
  	  	</a>
  	</div>

    <div class="block heading--white text--white" style="background-image: url('/assets/images/<%- bodyclass %>/fit-though-the-ages.jpg')">
      <a href="/articles/fit-through-the-ages">
        <p class="read-time svg--white text--white">
          <svg class="icon icon-read-time-ring-dims">
            <use xlink:href="#read-time-ring"></use>
          </svg>
          <span data-figure="<%- homeTwelveTime %>" data-speed="1000">0</span>
          <span>mins</span>
        </p>
          <p class="mobile-only mobile-read text--white"><%- homeTwelveTime %> Mins</p>
          <h2><%- homeTwelveTitle %></h2>
          <p><%- homeTwelveDesc %></p>
          <div class="svg--yellow text--yellow read-more">
            <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
            </div>
        </a>
    </div>

  </div>

  <div class="feature feature-solid row" id="friendship">

    <video autoplay loop id="home-5">
      <source src="/assets/videos/aspire-landing-video-5.webm" type="video/webm"></source>
      <source src="/assets/videos/aspire-landing-video-5.mp4" type="video/mp4"></source>
    </video>

	  <a href="/articles/meet-the-new-friendship-groups" class="text background--dark-orange text--white heading--mustard svg--mustard">

      <p class="read-time svg--white">
        <svg class="icon icon-read-time-ring-dims">
          <use xlink:href="#read-time-ring"></use>
        </svg>
        <span data-figure="<%- homeThirteenTime %>" data-speed="1000">0</span>
        <span>mins</span>
      </p>

	    <div class="text-wrap">
	    	<p class="mobile-only mobile-read text--white"><%- homeThirteenTime %> Mins</p>
	        <h2><%- homeThirteenTitle %></h2>
	        <p><%- homeThirteenDesc %></p>
	        <div class="svg--yellow read-more"> 
	          <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
		      <span>Read</span>
	        </div>
	    </div>
	  </a>

  </div>


  <div class="offset-blocks list row" id="multigen">
    <div class="list-item list-item--photo">
      <video autoplay loop id="home-6">
        <source src="/assets/videos/aspire-landing-video-6.webm" type="video/webm"></source>
        <source src="/assets/videos/aspire-landing-video-6.mp4" type="video/mp4"></source>
      </video>
      
  	    <div class="text background--orange text--white heading--white">
        <a href="/articles/ten-benefits-from-multigenerational-friendships">
          <p class="read-time svg--white text--white">
            <svg class="icon icon-read-time-ring-dims">
              <use xlink:href="#read-time-ring"></use>
            </svg>
            <span data-figure="<%- homeFourteenTime %>" data-speed="1000">0</span>
            <span>mins</span>
          </p>
  	      <p class="mobile-only mobile-read text--white"><%- homeFourteenTime %> Mins</p>
  	      <h2><%- homeFourteenTitle %></h2>
  	      <p><%- homeFourteenDesc %></p>
  	      <div class="read-more svg--red text--red">
  	      	<svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
  	      </div>
          </a>
  	    </div>
  	
    </div>
    <div class="block heading--white top-push" style="background-image: url('/assets/images/<%- bodyclass %>/a-rough-guide.jpg')">
      	<a href="/articles/a-rough-guide-to-workplace-savings">
          <p class="read-time svg--white text--white">
            <svg class="icon icon-read-time-ring-dims">
              <use xlink:href="#read-time-ring"></use>
            </svg>
            <span data-figure="<%- homeFifteenTime %>" data-speed="1000">0</span>
            <span>mins</span>
          </p>
    	    	<p class="mobile-only mobile-read text--white"><%- homeFifteenTime %> Mins</p>
    	    	<h2><%- homeFifteenTitle %></h2>
    	    	<div class="svg--yellow text--yellow read-more">
    	    		<svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
    	      	</div>
        </a>
     </div>
  </div>


  <div class="pull-full row background--lighter-grey" id="pensions">
    <div class="inner heading--red svg--dark-red text--dark-red">
      <h2><%- homeFinalTitle %></h2>
      <div id="icon-animated-rabbit" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-rabbit.json"></div>
    </div>
  </div>
  
</div>

