<div class="hero heading--white text--white svg--white" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/hero.jpg');">
  <div class="hero__content">
    <h2>“Providing the foundations and opportunities for the next generation to pursue their dreams.”</h2>
  </div>
  <div class="contact-semi">
    <img src="/assets/images/arrow-white.svg"/>
    <p>お問い合わせ</p>
  </div>
</div>

<div class="content-wrapper">
  
  <div class="circles">
    <a href="#" class="circle">
      <p>質問する</p>
      <img src="/assets/images/arrow-white.svg"/>
    </a>
    <a href="#" class="circle">
      <p>訪問する</p>
      <img src="/assets/images/arrow-white.svg"/>
    </a>
    <a href="#" class="circle">
      <p>訪問する</p>
      <img src="/assets/images/arrow-white.svg"/>
    </a>
  </div>

  <!-- <a href="/articles/when-can-i-retire" class="pull-full row background--lighter-grey" id="retire">
    <div class="inner heading--red svg--dark-red text--dark-red">
      <h2> </h2>
      <p> </p>
      <div class="read-more"> 
        <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
          <span>Read</span>
      </div>
    </div>
  </a> -->

  <!-- <div class="offset-blocks row" id="better">
    <div class="block background--yellow svg--orange heading--dark-orange top-push">
    	<div class="big-five svg--mustard">
    	  <svg class="icon icon-num-5-dims"> <use xlink:href="#num-5"></use> </svg>
    	</div>
    	<a href="/articles/five-things-that-get-better-with-age">
      <p class="read-time svg--white text--white">
        <svg class="icon icon-read-time-ring-dims">
          <use xlink:href="#read-time-ring"></use>
        </svg>
        <span data-figure="<%- homeFourTime %>" data-speed="1000">0</span>
        <span>mins</span>
      </p>
	    	<p class="mobile-only mobile-read text--white"><%- homeFourTime %> Mins</p>
	    	<h2><%- homeFourTitle %></h2>
	    	<div class="read-more svg--dark-orange text--dark-orange">
	    		<svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg><span>Read</span>
	      	</div>
      	</a>
    </div>
    <div class="block heading--white text--white" style="background-image: url('/assets/images/<%- bodyclass %>/rewarding-work.jpg')">
    	<a class="text--white" href="/articles/rewarding-work">
        <p class="read-time text--white svg--white">
          <svg class="icon icon-read-time-ring-dims">
            <use xlink:href="#read-time-ring"></use>
          </svg>
          <span data-figure="<%- homeFiveTime %>" data-speed="1000">0</span>
          <span>mins</span>
        </p>

        <p class="mobile-only mobile-read text--white"><%- homeFiveTime %> Mins</p>
	    	<h2><%- homeFiveTitle %></h2>
	    	<p><%- homeFiveDesc %></p>
	    	<div class="read-more svg--green text--green">
	    		<svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use></svg><span>Read</span>
	      	</div>
      	</a>
    </div>
  </div> -->
  
</div>

