<div class="hero heading--mustard text--white svg--light-grey background--dark-grey">
  
  <p class="read-time svg--yellow text--yellow">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="2" data-speed="1000">0</span>
    <span>mins</span>
  </p>

  <div class="hero__content">
    <p class="mag-title heading text--yellow">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p><%- heroDesc %></p>
  </div>

  <svg class="icon icon-hourglass-dims">
    <use xlink:href="#hourglass"></use>
  </svg>

</div>

<div class="guide--wrapper">

  <div class="row">

    <div class="block background--blue text--white heading--dark-blue svg--white span-cols--10" id="state-pension-change">
      <h2><%- introOne %></h2>
      <p class="large-copy"><%- introTwo %></p>
      <p class="large-copy"><%- introThree %></p>
      <div id="icon-animated-people-grey" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-people-grey.json"></div>
    </div>
    
    <div class="block background--white text--dark-grey heading--orange span-cols--4" id="forty-eight">
      <h2 class="figure"><span data-figure="48" data-speed="1500" class="count-figure">0</span>%</h2>
      <p><%- statText %></p>
    </div>
  </div>

  <div class="row">
    <div class="block background--lighter-grey text--dark-blue heading--blue span-cols--4" id="thirty-six">
      <h2 class="figure"><span data-figure="36" data-speed="1500" class="count-figure">0</span>%</h2>
      <p><%- statTwoText %></p>
    </div>
    
    <div class="block background--dark-blue text--white heading--yellow svg--yellow span-cols--10" id="one-point-two">
      <p class="large-copy"><%- oneDesc %></p>
      <h2 class="figure"><%- oneTitle %></h2>
      <div id="icon-animated-handshake" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-handshake.json"></div>
    </div>

  </div>

  <div class="row">

    <div class="block background--mustard text--dark-green heading--white svg--yellow span-cols--7" id="five-reasons">
      <h2><%- twoTitle %></h2>
      <ol>
        <%- twoDesc %>
      </ol>
      <svg class="icon icon-num-5-dims"><use xlink:href="#num-5"></use></svg>
      <div id="icon-animated-hourglass" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-hourglass.json"></div>
    </div>
    
    <div class="block background--darker-grey text--white heading--dark-blue svg--dark-blue span-cols--7" id="fifty-five">
      <p class="large-copy"><%- threeDesc %></p>
      <h2 class="figure">£<i data-figure="55" data-speed="1500" class="count-figure">0</i>K</h2>
      <div id="icon-animated-piggybank" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-piggybank.json"></div>
    </div>

  </div>
  
  <p class="sources">
    Sources 
    <a href="https://www.theguardian.com/business/2016/mar/22/delay-retirement-financial-pressures-pension-savings" target="_blank">guardian.com</a>
    <a href="https://www.gov.uk/government/news/webb-new-figures-show-retirement-is-changing" target="_blank">gov.uk</a>
  </p>



</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/a-rough-guide-to-workplace-savings">
    <span class="time text--darker-grey"><%- homeFifteenTime %> mins</span>
    <h4>A rough guide to workplace savings</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>

  <a href="/articles/the-retirement-of-the-future">
    <span class="time text--darker-grey"><%- homeEightTime %> mins</span>
    <h4>The retirement of the future</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>
  
</div>